<div class="field">
	<%= f.label :booking %><br />
	<%= f.collection_select :booking_id, @bookings, :id, @booking.customer.name + " at " + @booking.venue.name, :prompt => "Select a booking" %>
</div>
