<div class="container">
	<div class = "row">
		<div class = "col-md-11">
			<h1>Editing venue <small><%= @venue %></small></h1>
		</div>
		<div class = "col-md-1">
			<%= button_to "Delete venue", @venue, :method=>:delete, :class=>"btn btn-danger",:confirm=>"Are you sure?" %>
		</div>
	</div>
	
	<p id="notice"><%= notice %></p>

	<%= render 'form' %>
</div>
